#char-container-id {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3b3a3a;
    margin-top: 10px;
}

.char {
    width: 250px;
    height: 200px;
}

.char-div-class {
    width: 200px;
    height: 120px;
    position: relative;
    left: 25px;
}

.char-div-class:hover {
    background-color: #2e2d2d;
    cursor: pointer;
}

.char_display {
    width: 200px;
    height: 55px;
    position: relative;
    left: 25px;
    background-size: cover;
    background-position: center top;
}

.char_display_text {
    width: 200px;
    height: 36px;
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    top:10px;
    overflow: auto;
}

.char_type_base {
    width: 100px;
    height: 100px;
    position: relative;
    top: 15px;
    left: 50px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.char_thumb {
    width: 125px;
    height: 125px;
    position: relative;
    bottom: 107px;
    left: 37px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.char_rarity {
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 100px;
    right: 90px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.char_type {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 240px;
    left: 120px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.char_eza {
    width: 25px;
    height: 25px;
    position: relative;
    left: 70px;
    bottom: 173px;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Samsung Galaxy A51/A71 dimensions */
@media only screen and (width: 412px) {
    .char {
        margin-left: 5px;
        width: 80px;
        height: 100px;
    }

    .char-div-class {
        width: 80px;
        height: 100px;
    }

    .char_type_base {
        width: 50px;
        height: 50px;
        top: 18px;
        left: 20px;
    }

    .char_thumb {
        width: 62px;
        height: 62px;
        top: -44px;
        left: 14px;
    }

    .char_rarity {
        width: 30px;
        height: 30px;
        top: -74px;
        left: 10px;
    }

    .char_type {
        width: 25px;
        height: 25px;
        top: -118px;
        left: 25px;
    }

    .char_eza {
        width: 12px;
        height: 12px;
        top: -84px;
        left: 1px;
    }

    .char_display {
        width: 100px;
        height: 25px;
        top: -30px;
        left: 0px;
        font-size: 10px;
        transform: scale(0.95);
    }
}


/*BlackBerry Z30 dimensions */
@media only screen and (width: 360px) {
    .char {
        width: 99px;
        height: 100px;
    }

    .char-div-class {
        width: 90px;
        height: 100px;
        margin-left: 10px;
    }

    .char_type_base {
        width: 50px;
        height: 50px;
        top: 18px;
        left: 20px;
    }

    .char_thumb {
        width: 62px;
        height: 62px;
        top: -44px;
        left: 14px;
    }

    .char_rarity {
        width: 30px;
        height: 30px;
        top: -74px;
        left: 10px;
    }

    .char_type {
        width: 25px;
        height: 25px;
        top: -118px;
        left: 25px;
    }

    .char_eza {
        width: 12px;
        height: 12px;
        top: -84px;
        left: 1px;
    }

    .char_display {
        width: 100px;
        height: 25px;
        top: -30px;
        left: 0px;
        font-size: 10px;
        transform: scale(0.95);
    }
}

/*BlackBerry PlayBook dimensions */
@media only screen and (width: 600px) {
    .char {
        margin-left: 10px;
        width: 99px;
        height: 100px;
    }

    .char-div-class {
        width: 90px;
        height: 100px;
        margin-left: 5px;
    }

    .char_type_base {
        width: 50px;
        height: 50px;
        top: 18px;
        left: 20px;
    }

    .char_thumb {
        width: 62px;
        height: 62px;
        top: -44px;
        left: 14px;
    }

    .char_rarity {
        width: 30px;
        height: 30px;
        top: -74px;
        left: 10px;
    }

    .char_type {
        width: 25px;
        height: 25px;
        top: -118px;
        left: 25px;
    }

    .char_eza {
        width: 12px;
        height: 12px;
        top: -84px;
        left: 1px;
    }

    .char_display {
        width: 100px;
        height: 25px;
        top: -30px;
        left: 0px;
        font-size: 10px;
        transform: scale(0.95);
    }
}