#cookiesDelete {
  margin-top: 10px;
}

.cookies-delete-class {
  font-size: 30px;
  color: white;
  text-align: left;
  margin-bottom: 20px;
}

.cookies-delete-info-class {
  font-size: 20px;
  color: white;
  text-align: left;
  margin-bottom: 20px;
}

.cookies-delete-browsers-class a {
  text-decoration: underline;
  color: #0078c8;
  line-height: 1.6;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.cookies-delete-browsers-class {
  margin-top: 10px;
}