#agl {
	cursor: pointer;
	background-color: #00AAEE;
	height:40px;
	position: relative;
	top:30px;
}

#teq {
	cursor: pointer;
	background-color: #3df05b;
	height:40px;
	position: relative;
	top:30px;
}

#int {
	cursor: pointer;
	background-color: #c953e0;
	height:40px;
	position: relative;
	top:30px;
}

#str {
	cursor: pointer;
	background-color: #f77777;
	height:40px;
	position: relative;
	top:30px;
}

#phy {
	cursor: pointer;
	background-color: #eec038;
	height:40px;
	position: relative;
	top:30px;
}

.checkedTypeBtn {
	border: 5px solid #000000;
}