#super {
	cursor: pointer;
	background-color: #7d8e93;
	height:40px;
	position: relative;
	top:30px;
}

#extreme {
	cursor: pointer;
	background-color: #7d8e93;
	height:40px;
	position: relative;
	top:30px;
}

.checkedClassBtn {
	border: 5px solid #000000;
}