.filter {
	display: flex;
	flex-wrap: wrap;
	background-color: #1c2427;
	height:100px;
}

.filter-btn {
    cursor: pointer;
	background-color: #c3d0d4;
	height:40px;
	position: relative;
	top:30px;
    left:50px;
}