.my-global-styles {
    background-color: #4b4747;
}

#update-site-message-id {
    font-size: 20px;
    color: white;
}

#update-site-message-id a {
    color: #00FFFF;
}

li a {
    font-size: 20px;
    color: #00FFFF;
}