#pagination {
    display: inline-block;
    align-content: center;
    position: relative;

}

#pagination a {
    position: relative;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

#pagination a.checkedPagiantionBtn {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

#pagination a:hover:not(.checkedPagiantionBtn) {
    background-color: #ddd;
}

#charResults {
    -webkit-user-select: text;
    user-select: text;
}