.searchOptions {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
}

.searchTitlesOptions {
    color: white;
    font-size: 20px;
}

.searchTitlesOptionYes {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    top: 17px;
    left: 10px;
    position: relative;
}

.searchTitlesOptionNo {
    background-color: #33ccff;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    top: 17px;
    left: 13px;
    position: relative;
}

.searchTitlesOptionYes:hover {
    cursor: pointer;
}

.searchTitlesOptionNo:hover {
    cursor: pointer;
}

.searchSortDirectionOptions {
    color: white;
    font-size: 20px;
    position: relative;
    left:30px;
}

.searchSortDirectionOptionDown {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    top: 17px;
    left: 40px;
    position: relative;
}

.searchSortDirectionOptionUp {
    background-color: #33ccff;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    top: 17px;
    left: 43px;
    position: relative;
}

.searchSortDirectionOptionDown:hover {
    cursor: pointer;
}

.searchSortDirectionOptionUp:hover {
    cursor: pointer;
}