#searchTitleOptions {
    position: relative;
    top: -204px;
    left: 290px;
    height: 30px;
}

#searchTitleOptionsText {
    color: white;
    font-size: 20px;
    position: relative;
    left: -10px;
}

.searchTitles {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    margin: 0px 2px 5px 2px;
    top: -47px;
    left: 100px;
    position: relative;
}

.searchTitles:hover {
    cursor: pointer;
}

.checkedTitlesnBtn {
    background-color: #33ccff;
}