.filterDirection {
    background-color: #ddd;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    margin: 0px 5px 0px 5px;
    position: relative;
}

.filterDirection:hover {
    cursor: pointer;
}

#filterDirectionDown {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    position: relative;
}

#filterDirectionDown:hover {
    cursor: pointer;
}

#filterDirectionUp {
    background-color: #33ccff;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    position: relative;
}

#filterDirectionUp:hover {
    cursor: pointer;
}