:root {
  --bg-color-top-half: #6b6b67;
  --bg-color-bottom-half: #555555;
  --bi-color-text:linear-gradient(180deg, #b6b6b6, #948d87);
}

.filter-sort-container {
  position: relative;
  width: 85px;
  height: 35px;
  margin-right:15px;
  margin-bottom:5px;
}

.filter-sort-container-inside {
  width: 85px;
  margin-top: 5px;
  cursor: pointer;
}

.filter-sort-container-inside:hover {
  --bg-color-top-half: #9b9b97;
  --bg-color-bottom-half: #808080;
  --bi-color-text:linear-gradient(180deg, #e6e6e6, #aba5a0);
}

.top-half-bg-color-sort {
  margin-left: 2.5px;
  width: 85px;
  height: 12px;
  background-color: var(--bg-color-top-half);
}

.bottom-half-bg-color-sort {
  width: 85px;
  height: 12px;
  background-color: var(--bg-color-bottom-half);
}


.top-line-sort,
.top-left-line-rotated-sort,
.top-right-line-rotated-sort,
.bottom-line-sort,
.bottom-left-line-rotated-sort,
.bottom-right-line-rotated-sort {
  height: 5px;
  background-color: #ced1d0;
}

.filter-sort-container-inside-outline {
  margin-top: -29px;
}

.top-line-sort {
  width: 82.5px;
  margin-left: 3.75px;
}

.bottom-line-sort {
  width: 82.5px;
  margin-top: 24px;
  margin-left: 3.75px;
}

.top-left-line-rotated-sort {
  width: 27px;
  transform: rotate(-75deg);
  margin-top: -23px;
  margin-left: -11px;
}

.bottom-left-line-rotated-sort {
  width: 10.5px;
  transform: rotate(50deg);
  margin-top: 18px;
  margin-left: -3px;
}

.top-right-line-rotated-sort {
  width: 9px;
  transform: rotate(50deg);
  margin-top: -13.5px;
  margin-left: 82.5px;
}

.bottom-right-line-rotated-sort {
  width: 27px;
  transform: rotate(100deg);
  margin-top: -13px;
  margin-left: 73.5px;
}

.filter-sort-container-text {
  color: white;
  font-weight: 750;
  font-family: Arial, sans-serif;
  background-image: var(--bi-color-text);
  margin-left: 5px;
  margin-top: -15px;
  text-align: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
