.filter-sort-container {
	position: relative;
	width: 100px;
	height: 40px;
	cursor: pointer;
}

.filter-sort-container-inside {
	margin-top:5px;
	margin-left:5px;
}

.top-half-bg-color-sort {
	margin-left:2.5px;
	width: 85px;
	height: 12px;
	background-color: #6B6B67;
}

.bottom-half-bg-color-sort {
	width: 85px;
	height: 12px;
	background-color: #555555;
}

.top-line-sort,
.top-left-line-rotated-sort,
.top-right-line-rotated-sort,
.bottom-line-sort,
.bottom-left-line-rotated-sort,
.bottom-right-line-rotated-sort {
	height: 5px;
	background-color: #CED1D0;
}

.filter-sort-container-inside-outline {
	margin-top:-29px;
}

.top-line-sort {
	width: 82.5px;
	margin-left:3.75px;
}
.bottom-line-sort {
	width: 82.5px;
	margin-top:24px;
	margin-left:3.75px;
}



.top-left-line-rotated-sort {
	width: 27px;
	transform: rotate(-75deg);
	margin-top:-23px;
	margin-left:-11px;
}
.bottom-left-line-rotated-sort {
	width: 10.5px;
	transform: rotate(50deg);
	margin-top:18px;
	margin-left:-3px;
}



.top-right-line-rotated-sort {
	width: 9px;
	transform: rotate(50deg);
	margin-top:-13.5px;
	margin-left:82.5px;
}
.bottom-right-line-rotated-sort {
	width: 27px;
	transform: rotate(100deg);
	margin-top:-13px;
	margin-left:73.5px;
}



.filter-sort-container-text {
	color: white;
	font-weight: 750;
	font-family: Arial, sans-serif;
	background-image: linear-gradient(180deg, #B6B6B6, #948D87);
	margin-left:-5px;
	margin-top:-15px;
	text-align: center;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}