#left-sidenav-id {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

#right-sidenav-id {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

#close-left-sidenav-btn-id {
  position: absolute;
  font-size: 36px;
  right: 10px;
  cursor: pointer;
}

#close-right-sidenav-btn-id {
  position: absolute;
  font-size: 36px;
  left: 800px;
  cursor: pointer;
}

#left-sidenav-id a,
#right-sidenav-id a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#left-sidenav-id a:hover,
#right-sidenav-id a:hover {
  color: #f1f1f1;
}

#right-sidenav-filters-id {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

/*filter select button*/
#filter-select-id {
  border-radius: 4px;
  background-color: #942a00;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

#filter-select-id span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#filter-select-id span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

#filter-select-id:hover span {
  padding-left: 25px;
}

#filter-select-id:hover span:after {
  opacity: 1;
  left: 0;
}

/*filter select button*/

.filter-options-text-class {
  font-size: 20px;
  color: rgb(233, 100, 12);
  text-align: center;
}

.filter-options-text-big-class {
  font-size: 26px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
}

.filter-class {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#apply-filters-bg-id {
  z-index: 1;
  width: 0;
  height: 110px;
  position: fixed;
  bottom: 0;
  background-color: #494141;
  opacity: 0.8;
  transition: 0.5s;
}

#apply-filters-id {
  z-index: 1;
  width: 0;
  height: 110px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

#apply-filters-text-id {
  position: relative;
  left: -70px;
}

#ok {
  cursor: pointer;
  height: 40px;
  width: 50px;
  font-size: 18px;
  background-color: #df8611;
  font-weight: 800;
  color: aliceblue;
  position: relative;
  left: -30px;
}

#remove-all-id {
  cursor: pointer;
  height: 40px;
  width: 130px;
  font-size: 18px;
  background-color: #df8611;
  font-weight: 800;
  color: aliceblue;
  position: relative;
  margin-left: 20px;
  left: -120px;
}

.filter-type-container,
.filter-rarity-container,
.filter-class-container,
.filter-category-container {
  -webkit-tap-highlight-color: transparent;
  -tap-highlight-color: transparent;
}

#filter-setting-margin-bottom {
  height: 350px;
}