#search-before-eza-id,
#search-after-eza-id {
    padding-left: 35px;
    width: 107px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/* before eza */
.search-before-eza-dropdown-options {
    display: block;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 147px;
    height: 200px;
    margin-right: 15px;
}

    .search-before-eza-dropdown-options a {
        color: black;
        padding: 5px 16px;
        text-decoration: none;
        display: block;
    }

        .search-before-eza-dropdown-options a:hover {
            background-color: #ddd;
        }

#search-before-eza-image-id {
    position: absolute;
    margin-left: -290px;
    margin-top: 3px;
}

/* after eza */
.search-after-eza-dropdown-options {
    display: block;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: auto;
    width: 147px;
    height: 200px;
    margin-left: 15px;
}

    .search-after-eza-dropdown-options a {
        color: black;
        padding: 5px 16px;
        text-decoration: none;
        display: block;
    }

        .search-after-eza-dropdown-options a:hover {
            background-color: #ddd;
        }

#search-after-eza-image-id {
    position: absolute;
    margin-left: 70px;
    margin-top: 3px;
}