:root {
    --bg-color-top-half-class: #6b6b67;
    --bg-color-bottom-half-class: #555555;
    --bi-color-text-class: linear-gradient(180deg, #b6b6b6, #948d87);
}

.filter-class-container {
    position: relative;
    width: 140px;
    height: 35px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: -2.5px;
}

.filter-class-container-inside {
    margin-top: 5px;
    cursor: pointer;
}

.filter-class-container-inside:active:hover {
    --bg-color-top-half-class: #19739a;
    --bg-color-bottom-half-class: #0f4670;
    --bi-color-text-class: linear-gradient(180deg, #ffffff, #dbcebd);
}

.filter-class-container-inside:hover {
    --bg-color-top-half-class: #9b9b97;
    --bg-color-bottom-half-class: #808080;
    --bi-color-text-class: linear-gradient(180deg, #e6e6e6, #aba5a0);
}

.checkedClassBtnInside {
    --bg-color-top-half-class: #2da9dd;
    --bg-color-bottom-half-class: #1b79c3;
    --bi-color-text-class: linear-gradient(180deg, #ffffff, #dbcebd);
}

.checkedClassBtnInside:active:hover {
    --bg-color-top-half-class: #19739a;
    --bg-color-bottom-half-class: #0f4670;
    --bi-color-text-class: linear-gradient(180deg, #ffffff, #dbcebd);
}

.checkedClassBtnInside:hover {
    --bg-color-top-half-class: #7bc9ea;
    --bg-color-bottom-half-class: #4ba3e7;
    --bi-color-text-class: linear-gradient(180deg, #ffffff, #ede6de);
}

.filter-class-container-inside,
.checkedClassBtnInside {
    text-shadow: 0px 0px 0 rgb(255, 255, 255),
        1px 1px 0 rgba(0, 0, 0, 1),
        1px 1px 0 rgba(0, 0, 0, 1),
        1px -1px 0 rgba(0, 0, 0, 1),
        1px -1px 0 rgba(0, 0, 0, 1),
        -1px 1px 0 rgba(0, 0, 0, 1),
        -1px 1px 0 rgba(0, 0, 0, 1),
        -1px -1px 0 rgba(0, 0, 0, 1),
        -1px -1px 0 rgba(0, 0, 0, 1);
}

.top-half-bg-color-class {
    margin-left: 2.5px;
    width: 140px;
    height: 12px;
    background-color: var(--bg-color-top-half-class);
}

.bottom-half-bg-color-class {
    width: 141px;
    height: 12px;
    background-color: var(--bg-color-bottom-half-class);
}

.top-line-class,
.top-left-line-rotated-class,
.top-right-line-rotated-class,
.bottom-line-class,
.bottom-left-line-rotated-class,
.bottom-right-line-rotated-class {
    height: 5px;
    background-color: #ced1d0;
}

.filter-class-container-inside-outline {
    margin-top: -29px;
}

.top-line-class {
    width: 137.5px;
    margin-left: 3.75px;
}

.bottom-line-class {
    width: 137.5px;
    margin-top: 24px;
    margin-left: 3.75px;
}

.top-left-line-rotated-class {
    width: 27px;
    transform: rotate(-75deg);
    margin-top: -23px;
    margin-left: -11px;
}

.bottom-left-line-rotated-class {
    width: 10.5px;
    transform: rotate(50deg);
    margin-top: 18px;
    margin-left: -3px;
}

.top-right-line-rotated-class {
    width: 9px;
    transform: rotate(50deg);
    margin-top: -13.5px;
    margin-left: 137.5px;
}

.bottom-right-line-rotated-class {
    width: 27px;
    transform: rotate(100deg);
    margin-top: -13px;
    margin-left: 128.5px;
}

.filter-class-container-text {
    color: white;
    font-weight: 750;
    font-family: Arial, sans-serif;
    background-image: var(--bi-color-text-class);
    margin-left: 5px;
    margin-top: -15px;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}