#search-one-char-options-dropdown {
	display: inline-block;
}

#search-one-char-hint-id {
	color: white;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: relative;
	white-space: nowrap;
	margin-left:10px;
	top:-6px;
}

#search-one-char-selected-dropdown {
	background-color: #3498DB;
	color: white;
	padding: 8px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 300px;
	height: 30px;
	white-space: nowrap;
	margin-left:10px;
}

#search-one-char-selected-dropdown:hover,
#search-one-char-selected-dropdown:focus {
	background-color: #2980B9;
}

.search-one-char-dropdown-options {
	display: none;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	overflow: auto;
	width: 300px;
	height: 500px;
	
}

/* Links inside the dropdown */
.search-one-char-dropdown-options a {
	color: black;
	padding: 5px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.search-one-char-dropdown-options a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.showOneCharName {
	display: block;
}