#character-diplay-id {
	height: 40px;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

#search-settings-text-character-id {
	margin-top: 2px;
}

#search-one-char-selected-dropdown {
	background-color: #3498DB;
	color: white;
	padding: 8px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	width: 250px;
	height: 30px;
	white-space: nowrap;
	margin-left: 10px;
	overflow: hidden;
}

#search-one-char-selected-dropdown:hover,
#search-one-char-selected-dropdown:focus {
	background-color: #2980B9;
}

.search-one-char-dropdown-options {
	display: none;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	overflow: auto;
	width: 270px;
	height: 200px;
}

.search-one-char-dropdown-options a {
	color: black;
	padding: 5px 16px;
	text-decoration: none;
	display: block;
}

.search-one-char-dropdown-options a:hover {
	background-color: #ddd;
}

.search-one-char-dropdown-options-value {
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#search-one-char-hint-id {
	color: white;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: absolute;
	white-space: nowrap;
	margin-top: -16px;
	margin-left: 100px;
}

#search-one-char-menu-id {
	display: none;
}

.showOneCharName {
	display: block;
}

/*Samsung Galaxy A51/A71 dimensions */
@media only screen and (width: 412px) {
	#search-one-char-selected-dropdown {
		height: 30px;
		width: 285px;
	}

	#search-one-char-menu-id {
		position: absolute;
		height: 25px;
		width: 170px;
		margin-left:209px;
	}

	.search-one-char-dropdown-options {
		position: absolute;
		width: 176px;
		height: 200px;
		margin-top: 31px;
		margin-left:210px;
	}
}


/*BlackBerry Z30 dimensions */
@media only screen and (width: 360px) {
	#search-one-char-selected-dropdown {
		font-size: 12px;
		height: 30px;
		width: 230px;
	}

	#search-one-char-menu-id {
		font-size: 12px;
		position: absolute;
		height: 25px;
		width: 160px;
		margin-left:161px;
	}

	.search-one-char-dropdown-options {
		font-size: 12px;
		position: absolute;
		width: 166px;
		height: 200px;
		margin-top: 31px;
		margin-left:162px;
	}
}


/*BlackBerry PlayBook dimensions */
@media only screen and (width: 600px) {
	#search-one-char-menu-id {
		font-size: 12px;
		position: absolute;
		height: 25px;
		width: 210px;
		margin-left:345px;
	}

	.search-one-char-dropdown-options {
		font-size: 12px;
		position: absolute;
		width: 216px;
		height: 200px;
		margin-top: 31px;
		margin-left:346px;
	}
}