.searchTitles {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
    height: 30px;
    margin: 0px 0px 5px 10px;
}

.searchTitles:hover {
    cursor: pointer;
}

.checkedTitlesnBtn {
    background-color: #33ccff;
}