#char_setting {
	display: flex;
	flex-direction: row;
	position: relative;
}

#charsPerPageOptions {
	color: white;
	font-size: 20px;
	position: relative;
	top: -10px;
	height: 20px;
}

#chars-per-page-id {
	position: relative;
	top: -1px;
	width: 95px;
}

.charsPerPage {
	background-color: white;
	border: 2px solid #008CBA;
	cursor: pointer;
	position: relative;
	height: 30px;
	width: 40px;
	margin: 0px 4px 0px 4px;
	top: -15px;
}

.checkedCharsPerPageBtn {
	background-color: #33ccff;
	border: 2px solid #008CBA;
}