#char-search-id {
    padding-left: 60px;
    height: 55px;
    font-size: 24px;
    width: 280px;
}

#search-all-char-menu-image-id {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

#search-bar-id {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#search-settings-btn-id {
    cursor: pointer;
}

#search-settings-image-id {
    width: 50px;
    height: 50px;
}